body {
  background-color: #1e1c1c;
}

.workout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  gap: 12px;
}

input {
  text-align: center;
}

label {
  font-size: large;
  font-weight: bold;
}

textarea::placeholder {
  text-align: center;
}

textarea {
  width: 15vw;
}

#day,
#month,
#year {
  width: 32px;
}

#exercise-btn {
  margin-left: 12px;
}
