.workout-container form {
  background: whitesmoke;
  margin-top: 24px;
  width: fit-content;
  height: auto;
  box-shadow: 5px 5px lightgray;
  padding: 24px;
}

.workout-inputs {
  display: flex;
  flex-direction: column;
}

.workout-body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

textarea {
  min-height: 200px;
  max-width: 200px;
  color: blue;
}
