body {
  background-color: #1e1c1c;
}

.workout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  max-height: 100vh;
  gap: 12px;
  padding: 100px;
  border-radius: 6px;
  margin-top: 50px;
}

input {
  text-align: center;
  height: 30px;
  width: fit-content;
  border-radius: 6px;
}

label {
  font-size: large;
  font-weight: bold;
  border: solid 2px black;
  padding: 12px;
  border-radius: 6px;
}

#day,
#month,
#year {
  width: 32px;
}

.title {
  margin-bottom: 30px;
  border: solid 2px black;
  border-radius: 6px;
  padding: 12px;
}
