.journal-workouts {
  display: grid;
  justify-content: center;
  column-gap: 80px;
  grid-template-columns: auto auto auto;
  padding: 24px;
  background-color: #1e1c1c;
  height: 100vh;
  width: auto;
}

.journal-header {
  background-color: black;
  color: whitesmoke;
  text-align: center;
  padding: 24px;
}

li {
  list-style-type: none;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e1c1c;
  gap: 12px;
  height: 80px;
}

.search-input {
  width: 15vw;
  height: 4vh;
  border-radius: 12px;
  text-align: center;
}

#edit-button {
  margin-left: 12px;
}
